/*
 * _project.scss
 */
// @import "/assets/scss/mixin.scss";
// @import "/assets/scss/fonts.scss";
// @import "/assets/scss/setting.scss";
@import "/assets/scss/_variables.scss";
@import "/assets/scss/_mixin.scss";

.p-memoWrapper{
  width: 100%;
  margin: auto;
}

.p-memoForm{
  position: relative;
	width: 80%;
  max-width: 900px;
	padding: 20px 5px 20px 5px;
  margin: auto;
  @include mq-max(){
    width: 100%;
  }
  ._cnt{
    margin: 20px auto 0;
    width: 60%;
    @include mq-max(){
      width: 100%;
    }
  }
}

.p-userForm{
  position: relative;
	width: 80%;
  max-width: 900px;
	padding: 20px 5px 20px 5px;
  margin: auto;
  @include mq-max(){
    width: 100%;
  }
  ._cnt{
    margin: 20px auto 0;
    width: 60%;
    @include mq-max(){
      width: 100%;
    }
  }
}

.p-buttonWrapper{
  width: fit-content;
  margin: 40px auto;
  display: flex;
}

.p-error{
  >p{
    color: $color_red;
    text-align: center;
  }
}