/*
 * _project.scss
 */
// @import "/assets/scss/mixin.scss";
// @import "/assets/scss/fonts.scss";
// @import "/assets/scss/setting.scss";
@import "/assets/scss/_variables.scss";
@import "/assets/scss/_mixin.scss";

.p-memoWrapper{
  width: fit-content;
  margin: auto;
}

.p-memoForm{
  position: relative;
	width: 100%;
  min-width: 80vw;
	padding: 20px 0px 0px 0px;
  >dl{
    >dt{

    }
    >dd{
      
    }
    
  }
}

.p-buttonWrapper{
  width: fit-content;
  margin: 40px auto;
  display: flex;
  >nav{
    display: flex;
    flex-direction: column;
  }
}

.p-error{
  >p{
    color: $color_red;
    text-align: center;
  }
}