/*
 * _setting.scss
 */

//変数設定など

/* -----------------------------------
Color
------------------------------------ */
$color_bg_light_blue: #f0f7f7;
//$color_baseFont: #3f3f3f;

$color_baseFont: #777;

$color_font_base: #777;
$color_font_gray: #969696;
$color_font_black: #3f3f3f;

$color_body_bg: #EFEFEF;

$color_placeholder: #bbb;
// $color_autocomplete: #ffffd4;
$color_autocomplete: #fff;

$color_black : #3f3f3f;

$color_pink  : #e2747c;
$color_pink_p  : #f7e7ea;
$color_pink_d  : #C6616D;

$color_orange: #d48a3c;
$color_orange_p: #f9dec5;

$color_blue  : #30648e;

$color_sblue : #0096b2;
$color_sblue_p : #f0fdff;
$color_sblue_d : #058293;


$color_green : #179460;
$color_green_p : #dff4e9;

$color_yellow: #ffff00;
$color_yellow_p: #ffffd4;


// $color_gray1 : #f0f0f0;
// $color_gray2 : #ccc;
// $color_gray3 : #999;
// $color_gray4 : #666;

$color_link  : #30648e;

$color_white: #fff;
$color_gray: #ddd;
$color_red: #c60e24;

$color_print_border: #999;
$color_print_bg: #f9f9f9;

$color_landi: #ff8600;
$color_landi_d: #ea7500;

$color_negotiations1: #0088a6;
$color_negotiations2: #e27f35;
