@charset "UTF-8";

/* -----------------------------------
Color
------------------------------------ */
$color-baseFont: #333333;
$color_fontWhite: #fff;
$color_fontBlue: #2e404c;
$color_fontCurrent: #7c8d96;
// $color_link : #666666;

$color_white: #fff;
$color_black: #000000;

$color_red: #b92a50;
$color_green: #3ca04e;
$color_orange: #e55405;
$color_light_orange: #f2cfc0;
$color_purple: #973c99;

$color_light_pink: #f9f7f3;

$color_light_blue: #849ea0;
$color_blue: #315887;
$color_dark_blue: #51586b;

$color_very_light_grey: #f1f1f1;
$color_light_grey: #f2f3f4;
$color_grey: #d8d8d8;
$color_dark_grey: #333333;
$color_bg_grey: #e8e8e8;

$color_bg_light_blue: #f0f7f7;
//$color_baseFont: #3f3f3f;

$color_baseFont: #777;

$color_font_base: #777;
$color_font_gray: #969696;
$color_font_black: #3f3f3f;

$color_body_bg: #EFEFEF;

$color_placeholder: #bbb;
// $color_autocomplete: #ffffd4;
$color_autocomplete: #fff;

$color_black : #3f3f3f;

$color_pink  : #e2747c;
$color_pink_p  : #f7e7ea;
$color_pink_d  : #C6616D;

$color_orange: #d48a3c;
$color_orange_p: #f9dec5;

$color_blue  : #30648e;

$color_sblue : #0096b2;
$color_sblue_p : #f0fdff;
$color_sblue_d : #058293;


$color_green : #179460;
$color_green_p : #dff4e9;

$color_yellow: #ffff00;
$color_yellow_p: #ffffd4;


// $color_gray1 : #f0f0f0;
// $color_gray2 : #ccc;
// $color_gray3 : #999;
// $color_gray4 : #666;

$color_link  : #30648e;

$color_white: #fff;
$color_gray: #ddd;
$color_red: #c60e24;

$color_print_border: #999;
$color_print_bg: #f9f9f9;

$color_landi: #ff8600;
$color_landi_d: #ea7500;

$color_negotiations1: #0088a6;
$color_negotiations2: #e27f35;



// ------------------------------------------------------
// Fonts
//

// @import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
// @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Anaheim&family=Readex+Pro:wght@500&family=Roboto:ital,wght@1,&display=swap);

$font-NotoSanJP:'Noto Sans JP', sans-serif;
$font-mincho: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
$font-gothic:"游ゴシック体", "Yu Gothic", YuGothic, serif;
$font-Roboto:'Roboto Condensed', sans-serif;
$font-ReadexPro: 'Readex Pro', sans-serif;